onlyBuiltDependencies[]=@stellar/stellar-sdk
onlyBuiltDependencies[]=blake-hash
onlyBuiltDependencies[]=bufferutil
onlyBuiltDependencies[]=msw
onlyBuiltDependencies[]=protobufjs
onlyBuiltDependencies[]=sharp
onlyBuiltDependencies[]=tiny-secp256k1
onlyBuiltDependencies[]=usb
onlyBuiltDependencies[]=utf-8-validate
